# fly.toml app configuration file generated for meetingrid on 2025-08-02T20:46:29+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meetingrid'
primary_region = 'fra'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'
  min_machines = 0
  max_machines = 1

[env]
  PHX_HOST = 'meetingrid.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
