<.link navigate={~p"/meetings"} class="block mb-4">
  <.button variant="secondary">
    <.icon name="hero-arrow-left-solid" class="h-4 w-4 -translate-y-px" /> Back to meetings list
  </.button>
</.link>

<h1 class="font-bold text-4xl mb-4">Settings</h1>

<.form for={@form} phx-change="validate" phx-submit="submit" class="max-w-lg">
  <.input field={@form[:name]} placeholder="John Doe" class="mb-4" label="Your Name" />
  <.button type="submit">Save changes</.button>
</.form>
